body{	background-color:#E8D882;
		color: #000000;
		font-family: Verdana, Arial, sans-serif;
		border-color:black;
		border-style: solid;
		border-width: 3px;
		box-shadow: 2px 2px black;
		margin: 1% 3% 5% 3%;
}

header{	background-color:#CCAA66;
		text-align: center;
		border-bottom: 3px solid black;
	  }

nav	{	float: left;
}

nav ul{	padding-top: 20%;
		list-style-type: none;
		color:#663300;
}
tr:nth-of-type(odd){background-color:#CCAA66;
}
th{padding:2%;
}
td{padding:2%;}
table{width:65%}
aside{	float:right;
		width:15%;
		text-align: center;
}
section{padding: 30px 5px 10px 2px;}
section img{width: 60%;}
.bottom{border-bottom: 4px dotted #CCAA66;
}



h1 {	color: #663300;}

h2{		color:#663300;
		text-shadow: 2px 2px 3px black;
		text-indent:3%;
		font-size:30px;
		border-style: solid;
		border-width: 3px;
		border-radius: 30px;
		margin: 0 9%;

}
main{	background-color:#F1E8B0;
		margin-left: 10%;
		margin-right:15%;
		padding: 20px;
		padding-bottom: 100px;
		min-height: 100px;
}
.cr{margin-right: 0;}
footer{	font-size: 60%;
		text-align: center;
		background-color:#CCAA66;
		border-top: 3px solid black;
		padding: 10px;
		clear: left;
		clear: right;
}
/*My name is william chalifoux*/


#mugs{  float: right;}

#imt{	float: right;
		padding-right: 1%;
		height: 2%;
		}

.ri{	margin-left: 15%;
		margin-right: 15%;}

.fr{float:right;}
a{text-decoration:none;}
a:link{	color:#996633;}
a:visited{color:#330000;}
a:hover{color:#FFFFFF;}

.month{font-size: 80%;
padding-left: 25px;
padding-top: 5px;}

.aud{width:250px;
		margin: 10px 10px 10px 17%;

			}
#sub{margin-left: 25%;}

label{width: 200px;
 text-align: right;
display: inline-block;}
.none{width: auto;}

#Gear{height:250px;
margin-left: 40%;


}
