body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
  background: #1C6EA4;
/*background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);*/
background: linear-gradient(to right, tan 0%, #2388CB 50%, tan 100%);

}
nav a{
  text-decoration: none;
  margin-left: 5%;
}
nav {
  text-align: center;
  border: solid 3px blue;
  border-radius: 50px;
  background-color: gray;

}
h1, h2, .center {
  text-align: center;
}
.dark-mode{

  background-color: black;
  color: white;
}
.left{
  width: 40%;
  float:left;
  margin-left: 5%;
  margin-right: 5%;

}
.right{
  width: 40%;
  float: right;
  margin-left: 5%;
  margin-right: 5%;
}
.cont{
  font-size: 15px;
  margin: 0;
}
