body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
  background: #1C6EA4;
background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
background: linear-gradient(to right, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
}

.dark-mode{

  background-color: black;
  color: white;
}
